In [22]:
import pandas as pd

In [23]:
df = pd.read_json('./data.json')
df.rename(columns={'job_type:': 'duration'}, inplace= True)
df = df.rename(columns= (lambda x:  x.replace(':','')) )
df.head(10)

,job_type,job_name,posting_date,hours,closing_date,location,company,duration,job_reference,salary,additional_salary_information
0,"Agriculture, Fishing & Forestry Jobs",Harvest Temp - Site Operative,19 May 2023,Full time,16 June 2023,"Cranswick, Driffield",Frontier Agriculture Ltd,Temporary,1788,NaN,NaN
1,"PR, Advertising & Marketing Jobs",FIELD MARKETING – SELF EMPLOYED,22 May 2023,Full time,19 June 2023,"Wiltshire, SP1 1TT",Momentum Instore Installations,Contract,ORG2411-HW797397SalFMSE,NaN,NaN
2,"PR, Advertising & Marketing Jobs",FIELD MARKETING – SELF EMPLOYED,22 May 2023,Full time,19 June 2023,"Isle of Wight, PO30 2NB",Momentum Instore Installations,Contract,ORG2411-HW797420NewFMSE,NaN,NaN
3,"PR, Advertising & Marketing Jobs",FIELD MARKETING – SELF EMPLOYED,22 May 2023,Full time,19 June 2023,"Wiltshire, SP1 1TT",Momentum Instore Installations,Contract,ORG2411-HW797406SalFMSE,NaN,NaN
4,"PR, Advertising & Marketing Jobs",FIELD MARKETING – SELF EMPLOYED,22 May 2023,Full time,19 June 2023,"Perth and Kinross, PH1 2NR",Momentum Instore Installations,Contract,ORG2411-HW797403PerFMSE,NaN,NaN
5,"PR, Advertising & Marketing Jobs",FIELD MARKETING – SELF EMPLOYED,22 May 2023,Full time,19 June 2023,"Perth and Kinross, DD2 1UR",Momentum Instore Installations,Contract,ORG2411-HW797399DunFMSE,NaN,NaN
6,Property Jobs,Inventory Clerk,20 May 2023,Part time,19 June 2023,"Bedminster, Bristol",Start 2 Finish International Ltd,Permanent,,Not specified,Commission Based
7,Scientific & QA Jobs,Lecturer in Marine Ecosystem Services (Teachin...,22 May 2023,Full time,16 June 2023,LL57 2DG,Bangor University,Permanent,BU03243,"£44,414 to £52,841 per year",NaN
8,Scientific & QA Jobs,Chemistry Analyst,22 May 2023,Full time,21 June 2023,X35,crooton,Permanent,CTNJM3045D-40750,NaN,NaN
9,Scientific & QA Jobs,Chemistry Analyst,22 May 2023,Full time,21 June 2023,E91,crooton,Permanent,CTNJM3045CL-40750,NaN,NaN

In [24]:
df.describe()

,job_type,job_name,posting_date,hours,closing_date,location,company,duration,job_reference,salary,additional_salary_information
count,77771,77771,77771,77771,77771,77771,77771,77771,77771,66688,35044
unique,25,37606,31,2,60,33587,4207,4,65846,10442,11855
top,Other/General Jobs,Support Worker,12 May 2023,Full time,26 May 2023,"London, UK",NHS Jobs,Permanent,,Not specified,Competitive
freq,14735,1071,5948,58799,4393,308,7464,56904,9651,24013,5626

In [28]:
df['hours'].unique()

array(['Full time', 'Part time'], dtype=object)